/*характеристики сайта*/


/*width: 1000px;*/


/*мои стили*/

@font-face {
    font-family: fi;
    /* Гарнитура шрифта */
    src: url(fonts/FontAwesome.otf);
    /* Путь к файлу со шрифтом */
}

body {
    font-family: "Arial";
}


/*хак для float*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

a {
    text-decoration: none;
}


/*мои переменные*/


/*ширина сайта*/

.w1000 {
    width: 1000px;
    margin: 0 auto;
}


/*---ГЛАВНАЯ---*/


/*верхняя линия*/

.top-line {
    height: 37px;
    border-bottom: 1px solid #c2c8cc;
    background-image: -moz-linear-gradient( 90deg, rgb(227, 228, 230) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(227, 228, 230) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(227, 228, 230) 0%, rgb(255, 255, 255) 100%);
    -webkit-box-shadow: 0px 3px 9px 0px rgba(227, 228, 230, 0.75);
    -moz-box-shadow: 0px 3px 9px 0px rgba(227, 228, 230, 0.75);
    box-shadow: 0px 3px 9px 0px rgba(227, 228, 230, 0.75);
}

.top-line .w1000 {
    text-align: right;
}

.user-reg {}


/*вход и регистрация*/

.user-reg a {
    font-size: 12px;
    /* margin: 0 9px; */
    margin-left: 4px;
    font-family: "Arial";
    color: rgb(44, 47, 51);
    font-weight: bold;
    height: 38px;
    line-height: 43px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    border-bottom: 1px dotted;
}


/*изображение арзделяющей линии между вход и регистрация*/

.top-line-img {
    background-image: url(../img/index/line-top.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 11px;
}


/*header-1-1*/

.header-1-1 {
    margin-top: 29px;
}


/*=лого=*/


/*ссылка на лого*/

.logo-a {
    float: left;
}


/*контейнер логотипа*/

.logo-div {
    width: 272px;
    height: 78px;
    vertical-align: middle;
    display: table;
    border-collapse: collapse;
}


/*логотип картинка*/

.logo-img {
    display: table-cell;
}


/*название сайта*/

.logo-name {
    font-size: 16px;
    font-family: "Arial";
    color: rgb(37, 37, 37);
    font-weight: bold;
    line-height: 1.588;
    height: 16px;
    display: inline;
}


/*описание сайта*/

.logo-title {
    font-size: 11px;
    font-family: "Arial";
    color: rgb(37, 37, 37);
    height: 10px;
}

.logo-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/*=банер в шапке=*/


/*контейнер для банера*/

.header-1-1-baner {
    width: 728px;
    height: 90px;
    overflow: hidden;
    float: right;
}


/*картинка банера*/

.header-1-1-baner img {
    width: 728px;
    height: 90px;
}


/*=header-1-2*/

.header-1-2 {
    margin-top: 17px;
}


/*черное меню*/

.menu-top {
    float: left;
    display: block;
    width: 753px;
    height: 40px;
    /*     padding-left:20px; */
    padding-top: 1px;
    padding-bottom: 5px;
    background-image: url(../img/index/menu-top.png);
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 40px;
}

.menu-top li {
    display: inline-block;
}

.menu-top li a {
    font-size: 14px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.004);
    display: block;
    /*     padding-left:11px; */
    /*     padding-right:12px; */
}

.menu-top {
    padding-left: 23px;
}

.menu-top li a:before {
    content: "";
    padding-right: 10px;
    background-image: url(../img/index/menu-top-strelka.png);
    background-repeat: no-repeat;
    background-position: left;
}

.menu-top li:not(:last-child) a:after {
    content: "";
    padding-left: 12px;
    padding-right: 12px;
    background-image: url(../img/index/menu-top-line.png);
    background-repeat: no-repeat;
    background-position: right;
}

.menu-top li a:hover {
    background-image: url(../img/index/menu-top-active.png);
    background-repeat: no-repeat;
}


/* добавить */


/*контейнер добавить*/

.add {
    float: right;
    background-image: url(../img/index/add-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 195px;
    padding-left: 6px;
    height: 47px;
}


/*надпись добавить объект*/

.add-add {
    font-size: 14px;
    font-family: "Arial";
    color: rgb(123, 87, 23);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    line-height: 47px;
    width: 142px;
    text-align: center;
    /*   margin:0 auto; */
    display: inline-block;
}


/*span для надписи добавить объект*/

.add-add span {
    border-bottom: 1px dotted;
}


/*знак плюса*/

.add-plus {
    width: 46px;
    line-height: 43px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.add-plus img {
    display: inline-block;
    text-align: center;
    padding-top: 11px;
}


/*=content=*/

.content {
    margin-top: 36px;
}

.left-center {
    width: 776px;
    display: inline-block;
}

.left {
    float: left;
    width: 200px;
    /* margin-right:25px; */
}

.center {
    margin-left: 225px;
}

.right {
    float: right;
    width: 200px;
}

.right-baner-div-1 {
    width: 200px;
    height: 400px;
}

.right-baner-div img {
    width: 200px;
    height: 400px;
}


/*=левый сайдбар=*/

.left-div-baner {
    margin-top: 32px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    ;
}

.left-div-banner img {
    width: 200px;
    height: 200px;
}


/*тень блока*/

.sh-b {
    -webkit-box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 1);
    box-shadow: 0px 5px 6px 0px rgba(50, 50, 50, 1);
}

.left-news {
    margin-top: 34px;
}

.left-news-title {
    font-size: 25px;
    font-family: "Arial";
    color: rgb(37, 37, 37);
    font-weight: bold;
    line-height: 1.08;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    float: left;
}

.left-all-news {
    margin-top: 7px;
    display: inline-block;
    float: right;
}

.left-all-news a {
    font-size: 13px;
    font-family: "Arial";
    color: rgb(0, 129, 200);
    text-decoration: underline;
    /*   line-height: 1.308; */
    /*   text-align: right; */
}

.left-news-container {
    clear: both;
    margin-top: 20px;
    display: inline-block;
    width: 200px;
}

.left-news-post {
    padding: 20px 0;
    border-top: 1px solid #b5b5b5;
}

.news-data {
    font-size: 16px;
    font-family: "Arial";
    color: rgb(33, 33, 35);
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin-bottom: 13px;
}

.left-news-img {
    float: left;
    width: 70px;
    height: 70px;
}

.left-news-img img {
    width: 70px;
    height: 70px;
}

.left-news-text {
    margin-left: 83px;
}

.left-news-text a {
    font-size: 13px;
    font-family: "Arial";
    color: rgb(0, 129, 200);
    text-decoration: underline;
}

.left-news-text p {
    margin-top: 12px;
    font-size: 12px;
    font-family: "Arial";
    color: rgb(79, 79, 79);
    line-height: 1.417;
}


/*=центральная колонка=*/


/* контейнер банеров верхних */

.center-div-baner-top {
    display: inline-block;
    width: 100%;
}

.center-div-baner-top div {
    display: inline-block;
    border-radius: 5px;
    height: 80px;
    width: 220px;
}


/*левый банер*/

.center-top-baner-div-1 {
    float: left;
    margin-left: 33px;
}


/*правый банер*/

.center-top-baner-div-2 {
    float: right;
    margin-right: 33px;
}

.center-line-title {
    font-size: 31px;
    font-family: "Arial";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    padding: 10px 12px;
    background-color: #fff000;
    display: inline-block;
}

.center-all {
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
}

.center-line-y {
    margin-top: 36px;
    position: relative;
}
.posts-home{
    margin-top:18px;
}

.post-home-data a {
    font-size: 13px;
    font-family: "Arial";
    color: rgb(139, 139, 139);
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    background-image: url(../img/index/data-bg.png);
    background-repeat: no-repeat;
    background-size:contain;
    padding:8px 7px;
    display:block;
}

.post-home-div-img{
    margin-top:14px;
}

.post-home-div-img{
    border-radius:10px;
}

.post-title a{
  font-size: 12px;
  font-family: "Arial";
  color: rgb(37, 37, 37);
  line-height: 1.417;
  text-align: left;
}

.post-price, .post-price-type {
  font-size: 22px;
  font-family: "Arial";
  color: rgb(98, 98, 98);
  line-height: 0.909;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  }

.post-price{
    padding-bottom:5px;
    border-bottom:1px solid;
}

.post-price-type{
    padding-top:5px;
    font-size:12px;

}

.posts-home{
    width:100px;
}