/*характеристики сайта*/


/*width: 1000px;*/


/*мои стили*/

body{
  font-family: "Arial";
}

/*хак для float*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

a {
    text-decoration: none;
}


/*мои переменные*/


/*ширина сайта*/

.w1000 {
    width: 1000px;
    margin: 0 auto;
}


/*---ГЛАВНАЯ---*/


/*верхняя линия*/

.top-line {
    height: 37px;
    border-bottom: 1px solid #c2c8cc;
    background-image: -moz-linear-gradient( 90deg, rgb(227, 228, 230) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(227, 228, 230) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(227, 228, 230) 0%, rgb(255, 255, 255) 100%);
    -webkit-box-shadow: 0px 3px 9px 0px rgba(227, 228, 230, 0.75);
    -moz-box-shadow: 0px 3px 9px 0px rgba(227, 228, 230, 0.75);
    box-shadow: 0px 3px 9px 0px rgba(227, 228, 230, 0.75);
}


.top-line .w1000{
  text-align: right;
}

.user-reg{

}

/*вход и регистрация*/
.user-reg a {
    font-size: 12px;
    /* margin: 0 9px; */
    margin-left: 4px;
    font-family: "Arial";
    color: rgb(44, 47, 51);
    font-weight: bold;
    height: 38px;
    line-height: 43px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    border-bottom: 1px dotted;
}

/*изображение арзделяющей линии между вход и регистрация*/
.top-line-img{
  background-image: url(../img/index/line-top.png);
  background-repeat:no-repeat;
  background-position:right;
  padding-right: 11px;
}

/*header-1-1*/
.header-1-1{
  margin-top: 29px;
}

/*=лого=*/
/*ссылка на лого*/
.logo-a{
  float: left;
}
/*контейнер логотипа*/
.logo-div{
  width: 272px;
  height: 78px;
  /* outline: 1px solid; */
  vertical-align: middle;
  display: table;
  border-collapse: collapse;
}

/*логотип картинка*/
.logo-img{
  display: table-cell;  
}

/*название сайта*/
.logo-name{
  font-size: 16px;
  font-family: "Arial";
  color: rgb(37, 37, 37);
  font-weight: bold;
  line-height: 1.588;
  height: 16px;
  display: inline;
}

/*описание сайта*/
.logo-title {
  font-size: 11px;
  font-family: "Arial";
  color: rgb(37, 37, 37);
  height: 10px;
}

.logo-text{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/*=банер в шапке=*/
/*контейнер для банера*/
.header-1-1-baner{
  width: 728px;
  height: 90px;
  overflow: hidden;
  float: right;
}
/*картинка банера*/
.header-1-1-baner img{
  width: 728px;
  height: 90px;
}